
<%- include("partials/header"); -%>

    <h1 class="mainHeader">
      Welcome to my blog!
    </h1>
<div class="image-container">
  <%# learned using the src starts with the image folder even if its in a different folder %>
  <img class="mainImage" src="/images/vet-image.jpg" ></img>
</div>

<h2 >author - Stephanie Collazo</h2>
<ul>
  <li>
    '92'
  </li>
  <li>
    Taurus
  </li>
  <li>
    Veterinary Technician
  </li>
  <h3 style="font-size: 40px; padding-top:50px;">
    A blog on Veterinary subjects, enjoy!
  </h3>
</ul>

<%- include("partials/footer"); -%>
