<%- include("partials/header"); -%>


<h1 style="padding-bottom:20px;">Feel free to email me with an questions you may have.</h1>


<a class="emailIcon" href="mailto:alatorre1160@yahoo.com"><i class="far fa-envelope"></i></a>


<%# <form class="textLeft">

      <div class="form-group" >
        <label for="inputEmail" >Email</label>
        <input type="email" id="inputEmail" class="form-control contactInputs" />

      </div>

      <div class="form-group" >
        <label for="subjectInput" >Subject</label>
        <input id="subjectInput" type="text" class="form-control contactInputs" />

      </div>

      <div class="form-group">
        <label for="textArea">Message</label>
        <textarea id="textArea" type="text" class="form-control"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" >send</button>

        </form> %>


<%- include("partials/footer"); -%>
