body {
  font-family: 'Raleway', sans-serif;
}

/* Navigation */
.sidebar {
  width: 25%;
  height: 100%;
  position: fixed;
}

.brandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stephsBlog {
  display: block;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  color: #ff427f;
  padding-left: 20px;
}

.stephsBlog:hover {
  text-decoration: none;
}

ul {
  padding-top: 20px;

}

ul li {
  padding: 15px;
  font-size: 1.5rem;

}

li a{
    color: #ffa5b0;
}

/* Main */
.mainContainer {
  margin-left: 25%;
  padding: 2% 10%;

}

.mainImage {
  width: 50%;
  height: 50%;
}

.image-container{
  display:flex;
  justify-content: center;
}

h2{
  padding: 10px;
  text-align: center;
}

.mainHeader {
  padding: 2rem;
}

.mainP {
  padding: 2rem;
  font-weight: bolder;
}

.contactInputs {
  width: 40%
}

.textLeft {
  text-align: left;
}

.icon {
  display: none;
}

.off {
  list-style: none;
}

.emailIcon{
  display: flex;
  justify-content: center;
}

.emailIcon i{
  font-size: 5rem;
}

/* responsive */
@media only screen and (max-width:666px) {

  .sidebar {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    height: auto;
    overflow: hidden;
  }

  .brandContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .stephsBlog {
    display: inline-block;
    font-size: 2rem;
    padding-left: 20px;
  }

  .mainContainer {
    margin-left: 0;
    padding: 8% 5% 2% 5%;
  }

  .mainImage {
    width: 80%;
    height: 50%;
  }

  .contactInputs {
    width: 100%
  }

  ul li {
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
  }

/* Hamburger animation css  */
.hamburger {
  height:50px;
  width:50px;
  background: #D2D1D1;
  position: relative;
  margin: 0;
  right: 10px;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
    transition: all 1s ease-in-out;
}

.line{
  width:25px;
  height:5px;
  transition: all 1s ease-in-out;
}

.hamburger .first{
  position: absolute;
  background-color:#ff427f;
  left:25%;
  top:33%;
  transition: all 1s ease-in-out;
}

.hamburger .second{
  position:absolute;
  background-color: #ff427f;
  left:25%;
  bottom:33%;
  transition: all 1s ease-in-out;
}

.hamburger.open .first{
  transform: rotate(45deg)translate(4.33px,4.33px) ;
}

.hamburger.open .second{
  transform: rotate(-45deg)translate(4.33px,-4.33px);
}


#target{
  height:0;
  padding:0px;
  margin:0;
  overflow: hidden;
}

.attach {
  animation-name: grow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}

.detach {
  animation: shrink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shrink {
  from {
    height: 200px;
  }
  to {
    height: 0;
  }
}

}
